.register {
  width: min(100%, 396px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 321px) {
  .register > .greens {
    align-self: flex-start;
  }
}
