.filter-checkbox__indicator {
  display: flex;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: var(--white);
  align-self: center;
  position: absolute;
  left: 2px;
  transition: transform .2s ease-in;
}
