.page-404__not-found {
  padding: 0;
  margin: 0;
  text-align: center;
  color: var(--white);
  font: normal normal 12px/1 'Inter', sans-serif;
}

@media (min-width: 321px) {
  .page-404__not-found {
    font: normal normal 16px/1 'Inter', sans-serif;
  }
}
