.signin {
  width: min(100%, 396px);
  padding: 56px 0 0 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

@media (min-width: 321px) {
  .signin > .green-s-button {
    align-self: flex-start;
  }

  .signin {
    padding: min(30vw, 232px) 0 0 0;
  }
}

@media (min-width: 769px) {
  .signin {
    padding: 70px 0 0 0;
  }
}
