.text-button {
  border: 0;
  outline: 0;
  padding: 0 0 1px 0;
  margin: 0;
  background: transparent;
  font: normal 10px/1 'Inter', sans-serif;
  cursor: pointer;
  position: relative;
}

.text-button:hover {
  border-bottom: 1px dashed var(--gray-text);
}
