.text-button {
  border: 0;
  outline: 0;
  padding: 0 0 1px 0;
  margin: 0;
  background: transparent;
  font: normal 10px/1 'Inter', sans-serif;
  cursor: pointer;
  position: relative;
  transition: color .2s ease-in;
}

.text-button:hover {
  color: var(--gray-text);
}
