.footer__copyright {
  color: var(--gray-text);
  font: normal normal clamp(12px, 3.75vw, 13px)/1 'Inter', sans-serif;
  text-align: center;
  color: var(--white);
}

@media (max-width: 320px) {
  .footer__copyright {
    color: var(--gray-text);
  }
}
