.footer__title {
  color: var(--gray-text);
  font: normal normal clamp(12px, 3.75vw, 13px)/1 'Inter', sans-serif;
  text-align: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid var(--gray-outline);
  align-self: stretch;
}
