.techno-text__title {
  margin: 0 0 24px 0;
  padding: 0;
  width: min(91.25vw, 600px);
  color: var(--white);
  font: normal normal min(9.375vw, 50px)/1 'Inter', sans-serif;
  text-align: center;
  letter-spacing: -2px;
}
