.button-account {
  padding: 0;
  margin: 0;
  outline: 0;
  border: 0;
  border-radius: 6px;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--black);
  cursor: pointer;
}

.button-account:hover > .man-in-gray > .man-in-gray__man {
  animation-name: bow;
  animation-duration: .6s;
}

@keyframes bow {
  from {
    transform: rotate(-8deg);
  }

  20% {
    transform: rotate(8deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  60% {
    transform: rotate(4deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  to {
    transform: rotate(0);
  }
}
