.footer__links {
  border: 1px solid yellow;
  display: flex;
  /* Задача-максимум - примерять медиа-запросы только в тех случаях,
  flex-flow: row wrap;
   * когда требуется показать, либо скрыть какой-то элемент,
   * в зависимости от размера экрана.
   * Во всех остальных случаях - искать альтернативные способы
   * сделать резиновую вёрстку.
   *
   * В данном случае, необходимо, чтобы контейнер сохранял
   * размер в 111px до тех пор, пока размер экрана не позволит
   * уместить в ряд все три кнопки. Для этого используется
   * css функция clam(). Её второй аргумент представляет собой
   * результат вычисления линейной функции, которая при ширине
   * вьюпорта в 320px равна 111px, а при 321px уже 263px.
   *
   * Таким образом удаётся скачкообразно изменить размер контейнера 
   * для кнопок, от величины когда три конопки распологаются только 
   * вертикально, до величины, когда они сразу распологаются горизонтально. 
   */
  flex-flow: column wrap;
  align-items: center; 
  /*
  width: clamp(111px, calc(151 * 100vw - 48209px), 263px);
  */
  width: 263px;
  height: clamp(1em, calc(-28 * 100vw + 9000px), 40px);
}
