:root {
  --true-black: #000;
  --black: #202020;
  --gray: #2f2f2f;
  --gray-text: #8b8b8b;
  --gray-outline: #424242;
  --white: #fff;
  --blue: #4285f4;
  --blue-focused: #4c8cf4;
  --green: #3ddc84;
  --red: #ee3465;
  --aquamarine: #073042;
}
