.student__info {
  width: 100%;
  display: flex;
  gap: 40px 0;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
  padding: 0 0 69px 0;
}

@media (min-width: 321px) {
  .student__info {
    padding: 0 0 90px 0;
  }
}

@media (min-width: 769px) {
  .student__info {
    padding: 0 0 100px 0;
  }
}
