.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 min(4.375vw, 14px);
  margin: 0;
  width: 100vw;
  border: 1px solid yellow;
}

.header > .micro-man {
  display: none;
}

@media (min-width: 768px) {
  .header {
    padding: 0 min(3.91vw, 30px);
  }
}

@media (min-width: 769px) {
  .header {
    padding: 0 min(5.46vw, 70px);
  }

  .header > .icon-button {
    display: none;
  }

  .header > .micro-man {
    display: flex;
  }
}
